.header__logo {
    max-width: 142px;
    max-height: 33px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
        margin: 0 0 31.6px 27px;
    }
}