.elements__list {
    margin: 0 auto 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(auto-fit, 362px);
    gap: 20px 17px;
    justify-content: center;
    list-style-type: none;
}
