.popup__form-text {  
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    height: 27px;
    padding: 0;
    margin: 0 0 30px;
}

.popup__form-text:last-of-type {
    margin: 0;
}
.popup__form-text::placeholder {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.popup__form-text:focus {
    border: solid #6ba5c2;
    opacity: 1;
}
